{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('build/js/view_search.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="heading topShadow">VOS VISITEURS</div>
    <div align="center" class="results"></div>
    <img class="loading" src="/images/loading.gif" style="display:none;" data-show="false" data-end="false" data-offset="0" data-href="" />
{% endblock %}