{% if views %}
    {% for view in views %}
        {% include 'user/item.html.twig' with {'user' : view.user } %}
    {% endfor %}
{% else %}
    <div style="text-align: center;margin-top:50px;">Aucune vue.</div>
{% endif %}