{% if results %}
    {% for view in results %}
        {% include 'user/item.html.twig' with {'user' : view.user } %}
    {% endfor %}
{% else %}
    <div class="noresults">Aucune vue.</div>
{% endif %}