{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('build/js/picture.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="heading topShadow">PHOTOS</div>
    <div class="shadow"></div>
    {{ form(form) }}
    <br/><br/>
    <div id="collection"></div>
{% endblock %}