{% if results %}
    {% for link in results %}
        {% include 'user/item.html.twig' with {'user' : link.linkedUser(app.user) } %}
    {% endfor %}
{% else %}
    <div class="noresults">Aucune demandes.</div>
{% endif %}