<div class="dialogMessageContainer{% if app.user == chat.user %}Author{% else %}Target{% endif %}">
    <div class="dialogMessage dialog{% if app.user == chat.user %}Author{% else %}Target{% endif %}">{{ chat.content }}</div>
</div>
