<tr class="{% if message.user != app.user %}grey{% endif %}">
    <td>
        <table>
            <tr>
                <td style="vertical-align: top;">
                    {% include 'user/thumbnail.html.twig' with {'user' : message.user } %}
                </td>
                <td style="width: 672px;vertical-align: top;">
                    Il y a {{ message.days }} jours
                    <span style="float:right;">{{ message.status }}</span>
                    <hr>
                    {{ message.content }}
                </td>
            </tr>
        </table>
    </td>
</tr>