{% if messages %}
    {% for message in messages %}
        {% include 'message/item.html.twig' with {'message' : message } %}
    {% endfor %}
{% else %}
    <div style="text-align: center;margin-top:50px;">Aucun message.</div>
{% endif %}