{% extends 'base.html.twig' %}

{% block body %}
    <div class="title topShadow" style="font-size: 20px;">{{ message.user.username|capitalize }}</div>
        <table class="results" style="padding-right:2px;" cellspacing="0">
            <tr>
                <td>
                    <img class="loading" src="/appli/js/loading.gif" data-end="false" style="display:none;" data-show="false" data-offset="0" data-href="message" data-option="" />
                </td>
            </tr>
        </table>
{% endblock %}