{% if results %}
    {% for user in results %}
        {% include 'user/item.html.twig' with {'user' : user } %}
    {% endfor %}
{% else %}
    <div class="noresults">Aucun utilisateur pour les paramètres fournis.</div>
{% endif %}