<a href="{{ path('user_show', {'id': user.id }) }}" >
    <div class="divElementSmall">
        <div class="divPhoto" style="background:url(/photos/small/{{ user.pictureUrl }});background-position: top center;">
            <img class="pictoStatus" src="/images/icone/{% if user.status %}online.gif{% else %}offline.png{% endif %}" />
        </div>
        <span class="userFont" style="color:{% if user.gender == 1 %}#3333CC{% else %}#CC0000{% endif %}">
            {{ user.username }}
        </span>
    </div>
</a>